<div class="header">
    <div class="site-topbar">
        <div class="container">
            <div class="topbar-nav">
                <a href="https://www.mi.com/index.html" target="_blank">小米商城</a>
                <span class="sep">|</span>
                <a href="https://home.miui.com/" target="_blank">MIUI</a>
                <span class="sep">|</span>
                <a href="https://iot.mi.com/" target="_blank">loT</a>
                <span class="sep">|</span>
                <a href="https://i.mi.com/" target="_blank">云服务</a>
                <span class="sep">|</span>
                <a href="https://airstar.com/home" target="_blank">天星数科</a>
                <span class="sep">|</span>
                <a href="https://www.xiaomiyoupin.com/" target="_blank">有品</a>
                <span class="sep">|</span>
                <a href="https://xiaoai.mi.com/" target="_blank">小爱开放平台</a>
                <span class="sep">|</span>
                <a href="https://qiye.mi.com/" target="_blank">企业团购</a>
                <span class="sep">|</span>
                <a href="https://www.mi.com/aptitude/list?id=88" target="_blank">资质证照</a>
                <span class="sep">|</span>
                <a href="https://www.mi.com/aptitude/list" target="_blank">协议规则</a>
                <span class="sep">|</span>
                <a href="https://www.mi.com/appdownload" target="_blank">下载app</a>
                <span class="sep">|</span>
                <a href="https://xiaomishare.mi.com/?from=micom#/" target="_blank">智能生活</a>
                <span class="sep">|</span>
                <a href="javascript:;" >Select Location</a>
                
            </div>
            <div class="topbar-cart">
                <a href="//www.mi.com/buy/cart" class="cart-mini">
                    <em class="iconfont">&#xeb86;</em>
                    <em class="iconfont-cart-full"></em>
                    购物车
                    <span class="cart-mini-num">（0）</span>
                </a>
            </div>
            <div class="topbar-info">
                <a href="javascript:void(0);" class="link">登录</a>
                <span class="sep">|</span>
                <a href="javascript:void(0);" class="link">注册</a>
                <span class="sep">|</span>
                <span class="message">
                    <a href="">消息通知</a>
                </span>

            </div>
        </div>
    </div>


    <div class="site-header">
        <div class="container">
            <div class="header-logo">
                <a href="//www.mi.com/index.html" title="小米官网" class="logo"></a>
            </div>

            <div class="header-nav">
                <ul class="nav-list">
                    <li class="nav-category"></li>
                    <li class="nav-item"><a href="" class="link"><span>小米手机</span></a></li>
                    <li class="nav-item"><a href="" class="link"><span>Redmi 红米</span></a></li>
                    <li class="nav-item"><a href="" class="link"><span>电视</span></a></li>
                    <li class="nav-item"><a href="" class="link"><span>笔记本</span></a></li>
                    <li class="nav-item"><a href="" class="link"><span>平板</span></a></li>
                    <li class="nav-item"><a href="" class="link"><span>家电</span></a></li>
                    <li class="nav-item"><a href="" class="link"><span>路由器</span></a></li>
                    <li class="nav-item"><a href="" class="link"><span>智能硬件</span></a></li>
                    <li class="nav-item"><a href="" class="link"><span>服务</span></a></li>
                    <li class="nav-item"><a href="" class="link"><span>社区</span></a></li>
                </ul>
            </div>

            <div class="header-search">
                <input type="text" class="search-text" value="耳机">  
                <input type="submit" class="search-btn iconfont" value="&#xe67d;" >
            </div>
        </div>
    </div>

</div>